{
  "id": "cloud-native-debugging",
  "name": "Cloud-Native Debugging",
  "description": "Cloud Native Stack for Debugging Microservices Lab",
  "scope": "general",
  "workspaceConfig": {
    "environments": {
      "default": {
        "recipe": {
          "type": "dockerimage",
          "content": "quay.io/mcouliba/che-cloud-native"
        },
        "machines": {
          "dev-machine": {
            "env": {
              "MAVEN_OPTS" : "-Xmx512m",
              "MAVEN_MIRROR_URL": "http://nexus:8081/repository/maven-all-public",
              "OPENSHIFT_CONSOLE_URL": "{{ openshift_master_url }}"
            },
            "servers": {},
            "volumes": {},
            "installers": [
              "org.eclipse.che.exec",
              "org.eclipse.che.terminal",
              "org.eclipse.che.ws-agent",
              "org.eclipse.che.ls.java"
            ],
            "attributes": {
              "memoryLimitBytes": "2147483648"
            }
          }
        }
      }
    },
    "commands": [
    {
      "commandLine": "username=${workspace.namespace}\nprojectname=coolstore${username#user}\noc login ${OPENSHIFT_CONSOLE_URL} -u ${username} -p openshift --insecure-skip-tls-verify\noc project ${projectname}\necho \"-----------\"\necho \"Successful Connected to OpenShift as ${username}\"\necho \"-----------\"",
      "name": "oc login",
      "attributes": {
        "goal": "OpenShift",
        "previewUrl": ""
      },
      "type": "custom"
    },
    {
      "commandLine": "oc create -f https://raw.githubusercontent.com/dwojciec/debugging-lab-summit-2019/master/openshift/coolstore.yml && \\\noc start-build catalog-s2i --from-dir /projects/labs/catalog-spring-boot/ && \\\noc start-build inventory-s2i --from-dir /projects/labs/inventory-thorntail/ --follow && \\\noc start-build gateway-s2i --from-dir /projects/labs/gateway-vertx/ && \\\noc start-build web --from-dir /projects/labs/web-nodejs/",
      "name": "Build Mysterious Application",
      "attributes": {
        "goal": "Build"
      },
      "type": "custom"
    }
  ],
    "projects": [],
    "defaultEnv": "default",
    "name": "default",
    "links": []
  },
  "components": [
    {
      "version": "---",
      "name": "CentOS"
    },
    {
      "version": "1.8.0_45",
      "name": "JDK"
    },
    {
      "version": "3.2.2",
      "name": "Maven"
    },
    {
      "version": "2.6",
      "name": "Ansible"
    },
    {
      "version": "3.11",
      "name": "OpenShift CLI"
    },
    {
      "version": "0.0.19",
      "name": "OpenShift DO"
    }
  ],
  "creator": "ide",
  "tags": [
    "Java",
    "JDK",
    "Maven",
    "CentOS",
    "Git"
  ]
}